.rootLobby {
  display: 'flex';
  flexWrap: 'wrap';
  justifyContent: 'space-around';
}
.gridListLobby {
  width: 500px;
  height: 450px;
  overflowY: 'auto';
}

.gridtileLobby {
  border: 2px solid grey;
}

.content {
  margin-top: 70px;
  margin-left: 20px;
}
