.Lobby {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.Lobby .paper {
  margin-top: 40px;
  padding: 10px;
  text-align: left;
}

.root {
  display: 'flex';
  flexWrap: 'wrap';
  justifyContent: 'space-around';
}
.gridList {
  width: 500px;
  height: 450px;
  overflowY: 'auto';
}

.gridtile {
  border: 2px solid grey;
}

.content {
  margin-top: 70px;
  margin-left: 20px;
}
