.flex-container {
  display: flex;
}
.form{
  background-color: rgba(50, 50, 50, 0.5);
}
.redButton {
  background-color: red;
}
.greenButton {
  background-color: green;
}
.yellowButton {
  background-color: yellow;
}
