.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.barRed {
  background-color: red;
}
.barYellow {
  background-color: yellow;
}
.barGreen {
  background-color: green;
}
